.side-bar{
    position:fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 75px;
    
}
.sidebar-link{
    
    height: 76px;
   
}
.sidebar-link:hover{
    background-color: grey;
}
